.navbar-header.navbar-toolbar {
    background: transparent !important;
}
#header.navbar .navbar-nav > li > a > .meta > .avatar {
    width: 36px;
    height: 36px;
}
.btn-sm, .btn-group-sm > .btn {
    font-size: 13px;
}
.input-sm {
    height: 31px;
}
#dln_map {
    display:block;
}
.dln-full-width {
    margin: 0;
    padding: 0 !important;
    width: auto;
}
.dln-btn {
    bottom: 20px;
    position: absolute;
    right: 20px;
}
.dln-btn a i {
    vertical-align: middle;
    display: inline-block;
}
/*.dln-btn-main .dln-icon-check-point{
    -webkit-transition: all 250ms ease-in-out;
    -moz-transition: all 250ms ease-in-out;
    -o-transition: all 250ms ease-in-out;
    -ms-transition: all 250ms ease-in-out;
    transition: all 250ms ease-in-out;
}
.dln-btn-main.open .dln-icon-check-point, .dln-btn-hide a:active i {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
.dln-btn-hide {
    -webkit-transition: -webkit-transform 250ms cubic-bezier(0.25, 0.25, 0.4, 1.65),opacity 250ms cubic-bezier(0.25, 0.25, 0.4, 1),height 250ms cubic-bezier(0.25, 0.25, 0.4, 1),width 250ms cubic-bezier(0.25, 0.25, 0.4, 1);
    -moz-transition: -moz-transform 250ms cubic-bezier(0.25, 0.25, 0.4, 1.65),opacity 250ms cubic-bezier(0.25, 0.25, 0.4, 1),height 250ms cubic-bezier(0.25, 0.25, 0.4, 1),width 250ms cubic-bezier(0.25, 0.25, 0.4, 1);
    -o-transition: -o-transform 250ms cubic-bezier(0.25, 0.25, 0.4, 1.65),opacity 250ms cubic-bezier(0.25, 0.25, 0.4, 1),height 250ms cubic-bezier(0.25, 0.25, 0.4, 1),width 250ms cubic-bezier(0.25, 0.25, 0.4, 1);
    -ms-transition: -ms-transform 250ms cubic-bezier(0.25, 0.25, 0.4, 1.65),opacity 250ms cubic-bezier(0.25, 0.25, 0.4, 1),height 250ms cubic-bezier(0.25, 0.25, 0.4, 1),width 250ms cubic-bezier(0.25, 0.25, 0.4, 1);
    transition: transform 250ms cubic-bezier(0.25, 0.25, 0.4, 1.65),opacity 250ms cubic-bezier(0.25, 0.25, 0.4, 1),height 250ms cubic-bezier(0.25, 0.25, 0.4, 1),width 250ms cubic-bezier(0.25, 0.25, 0.4, 1);
    width: 0px;
    height: 0px;
    margin: 20px;
    opacity: 0;
}
.dln_congestion.open, .dln_accident.open, .dln_incident.open {
    opacity: 1;
    font-size: 18px;
    line-height: 1.33;
}
.dln_congestion.open {
    -webkit-transform: translate(-100px, -18px);
    -moz-transform: translate(-100, -18px);
    -ms-transform: translate(-100px, -18px);
    -o-transform: translate(-100px, -18px);
    transform: translate(-100px, -18px);
}
.dln_accident.open {
    -webkit-transform: translate(0px, -100px);
    -moz-transform: translate(0px, -100px);
    -ms-transform: translate(0px, -100px);
    -o-transform: translate(0px, -100px);
    transform: translate(0px, -100px);
}
.dln_incident.open {
    -webkit-transform: translate(100px, -18px);
    -moz-transform: translate(100px, -18px);
    -ms-transform: translate(100px, -18px);
    -o-transform: translate(100px, -18px);
    transform: translate(100px, -18px);
}*/
.dln-collection-points {

}
