<div class="property-container grid-container">
    <div class="page-wrapper">
        <div class="pull-left">
            <div class="tabbable tabs-below dln-tab-infor">
                <div class="tab-content">
                    <div class="tab-pane active" id="photo">
                        <div class="dln-photo-upload btn btn-default dln-modal" data-type="photo" data-header="Chọn hình ảnh"><i class="fa fa-upload"></i></div>
                        <div class="dln-photo-indicator">1 of 2</div>
                    </div>
                    <div class="tab-pane" id="map">
                    </div>
                </div>
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#photo" data-toggle="tab"><i class="fa fa-camera"></i> Hình ảnh</a></li>
                    <li class="center"><a href="#map" data-toggle="tab"><i class="fa fa-map-marker"></i> Bản đồ</a></li>
                </ul>
            </div>
        </div>
        <div class="pull-right">
            <div class="panel dln-info-box">
                <div class="action-info-container">
                    <h1 class="dln-property-title editable" data-type="textarea" data-rows="3" data-relate="title"></h1>
                    <div class="dln-property-price editable" data-type="number" data-relate="price"></div>
                    <div class="dln-property-location">
                        <div class="dln-property-location editable" data-type="text" data-relate="address"></div>
                        <div class="dln-property-updated">Posted 12 days ago</div>
                        <div class="vital-info-container">
                            <span class="bedroom-info"> <i class="fa fa-arrows-h"></i> <span class="dln-bed-room editable" data-relate="bed" data-suffix="Phòng"></span>
                            </span> 
                            <span class="bathroom-info"> <i class="fa fa-arrows-h"></i> <span class="dln-bath-room editable" data-relate="bath" data-suffix="Phòng"></span>
                            </span> 
                            <span class="sqft-info"> <i class="fa fa-arrows-h"></i> <span class="dln-property-area editable">D.tích 120 m<sup>2</sup></span>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="dln-contact-fields">
                    <input type="tel" readonly class="form-control" placeholder="Phone number" value="(877) 960-0484 x6384" id="input_phone_number">
                    <div class="contact-phone-inner">
                        <i class="fa fa-phone"></i>
                    </div>
                    <a href="javascript:void(0)" class="btn-contact-hidden"><i class="fa fa-times"></i></a>
                </div>
                <div class="primary-action-container">
                    <div class="btn-group">
                        <button
                            class="btn btn-danger btn-show-number"
                            type="button">
                            <i class="fa fa-phone"></i> Show Number
                        </button>
                        <button class="btn btn-danger" type="button">
                            <i class="fa fa-envelope-o"></i> Email
                        </button>
                    </div>
                </div>
                {% if not user %}
                <div class="secondary-action-container">
                    <button class="btn btn-default btn-gray">
                        <i class="fa fa-star-o"></i> Save to
                        Favorites
                    </button>
                </div>
                {% endif %}
            </div>
        </div>

        <div class="pull-left property-content">
            <div class="dln-info-box-mobile">
                <div class="dln-contact-fields">
                    <input type="tel" readonly class="form-control"
                        placeholder="Phone number"
                        value="(877) 960-0484 x6384"
                        id="input_phone_number">
                    <div class="contact-phone-inner">
                        <i class="fa fa-phone"></i>
                    </div>
                    <a href="javascript:void(0)"
                        class="btn-contact-hidden"><i
                        class="fa fa-times"></i></a>
                </div>
                <div class="primary-action-container">
                    <div class="btn-group">
                        <button
                            class="btn btn-danger btn-show-number"
                            type="button">
                            <i class="fa fa-phone"></i> Call
                        </button>
                        <button class="btn btn-danger" type="button">
                            <i class="fa fa-envelope-o"></i> Email
                        </button>
                    </div>
                </div>
                {% if not user %}
                <div class="secondary-action-container">
                    <button class="btn btn-default btn-gray">
                        <i class="fa fa-star-o"></i><span class="hidden-xs">Favorites</span>
                    </button>
                </div>
                {% endif %}
            </div>
            <div class="dln-box-wrapper">
                <div class="action-info-container">
                    <h1 class="dln-property-title editable" data-type="textarea" data-rows="3" data-relate="title"></h1>
                    <div class="dln-property-price editable" data-type="number" data-relate="price"></div>
                    <div class="dln-property-location">
                        <div class="dln-property-location editable" data-type="text" data-relate="address"></div>
                        <div class="dln-property-updated">Posted 12 days ago</div>
                        <div class="vital-info-container">
                            <span class="bedroom-info"> <i class="fa fa-arrows-h"></i> <span class="dln-bed-room editable" data-relate="bed" data-suffix="Phòng"></span>
                            </span> 
                            <span class="bathroom-info"> <i class="fa fa-arrows-h"></i> <span class="dln-bath-room editable" data-relate="bath" data-suffix="Phòng"></span>
                            </span> 
                            <span class="sqft-info"> <i class="fa fa-arrows-h"></i> <span class="dln-property-area editable" data-relate="area" data-type="number">120</span> m<sup>2</sup>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="property-amenities">
                    <div class="main-section-heading dln-modal editable-click" data-type="amenity" data-header="Chọn thuộc tính" data-relate="dln_ad_amenities">Amenities</div>
                    <div class="row">
                    </div>
                </div>
                <div class="property-desc">
                    <div class="main-section-heading">Description</div>
                    <p class="dln-property-desc editable pull-left" data-type="textarea" data-escape="false"  data-placeholder="Nhập mô tả cho bds này..." data-relate="desc"></p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade slide-up dln-modal" id="dln_modal">
    <div class="modal-dialog">
        <div class="modal-content-wrapper">
            <div class="modal-content">
                <div class="modal-header clearfix text-left">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="pg-close fs-14"></i>
                    </button>
                    <h5 class="m-t-0"></h5>
                </div>
                <div class="modal-body">
                    <div class="dln-body"></div>
                    <div class="dln-loading portlet-progress show"><div class="progress-circle-indeterminate progress-circle-master"></div></div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal" id="dln_modal_save">Lưu & Đóng</button>
                </div>
            </div>
        </div>
    </div>
</div>

<input type="file" class="dln-file-upload hide" />
<form id="dln_form_ad" method="post">
<input id="dln_ad_id" type="hidden" value="{{ ad.id }}" />
<input id="dln_ad_title" type="hidden" name="title" value="Cần bán nhà mặt tiền đường Huỳnh Văn Bánh Q Phú Nhuận,DT :8x14m Giá :20 tỷ" />
<input id="dln_ad_slug" type="hidden" name="slug" value="can-ban-nha-mat-tien" />
<input id="dln_ad_desc" type="hidden" name="desc" value="" />
<input id="dln_ad_price" type="hidden" name="price" value="1320000" />
<input id="dln_ad_address" type="hidden" name="address" value="1422 Southwest 147th Terrace" />
<input id="dln_ad_category_id" type="hidden" name="category_id" value="" />
<input id="dln_ad_lat" type="hidden" name="lat" value="" />
<input id="dln_ad_lng" type="hidden" name="lng" value="" />
<input id="dln_ad_bed" type="hidden" name="bed" value="2" />
<input id="dln_ad_bath" type="hidden" name="bath" value="2" />
<input id="dln_ad_area" type="hidden" name="area" value="120" />
<input id="dln_ad_direction" type="hidden" name="direction" value="" />
<input id="dln_ad_amenities" type="hidden" name="amenities" value="4,6,7,5,9" />
</form>

{% if user %}
<input id="dln_allow_editable" type="hidden" value="1" />
<script id="dln_user" type="application/json">{{ user | raw }}</script>
<script id="dln_ad" type="application/json">{{ ad_json | raw }}</script>
<script id="dln_caches" type="application/json">{{ dln_caches | raw }}</script>
{% endif %}
