body {
    font-family: "Segoe UI","Helvetica Neue",Helvetica,Arial,sans-serif;
}
.header {
    border-bottom: 1px solid #dfe1e8;
}
.copyright {
    background-color: #fff;
    bottom: 0;
    padding: 10px;
    position: fixed;
    width: 100%;
}
.leaflet-bottom {
    z-index: 10;
}
.dln-cluster {
    line-height: 30px;
    font-weight: 700;
    font-size: 13px;
    background-color: #f55753;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    color: white;
    text-align: center;
    cursor: pointer;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    -webkit-transition: background-color 0.2s linear;
    -moz-transition: background-color 0.2s linear;
    -ms-transition: background-color 0.2s linear;
    -o-transition: background-color 0.2s linear;
    transition: background-color 0.2s linear;
}
.dln-cluster-bg {
    border-radius: 1000px;
    width: 30px;
    height: 30px;
    padding: 3px;
    background-color: #fff;
    position: absolute;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -ms-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    box-shadow: 0px 0px 5px #999;
}
.dln-cluster-bg:hover .dln-cluster, .dln-cluster-bg.active .dln-cluster {
    width: 35px;
    height: 35px;
    line-height: 35px;
    margin-top: -2.5px;
    margin-left: -2.5px;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -ms-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
}
.dln-marker span{
    border: 2px solid #fff;
    box-shadow: 0px 0px 5px #999;
    border-radius: 2px;
}
.dln-filters ul, .dln-item-container ul {
    padding: 0;
    margin: 0 auto;
}
.dln-filters {
    background-color: #fff;
    border-bottom: 1px solid #e6e6e6;
}
.dln-filters .panel-body {
    padding: 10px 15px;
}
.dln-filters .form-group {
    padding-top: 10px;
    padding-bottom: 10px;
    margin-right: 0px;
    margin-left: 0px;
}
.dln-filters .dln-btn-types .btn{
    float: left;
}
.dln-filters .dln-btn-types .sep {
    border-left: 1px solid #e6e6e6;
    height: 25px;
    width: 1px;
    display: block;
    float: left;
    margin-right: 10px;
    margin-left: 5px;
    margin-top: 5px;
}
.page-content-wrapper {
    width: 60%;
    overflow-y: auto;
    position: fixed;
    height: 100%;
}
.dln-sidebar-header {
    padding: 15px;
}
.dln-sidebar-header .btn {
    font-size: 13px;
    font-weight: 600;
    border: 1px solid #c4c4c4;
    margin-right: 5px;
}
.dln-tags-filter .btn {
    background: none repeat scroll 0 0 #f5f5f5;
}
.dln-tags-filter .btn i:first-child {
    margin-left: 5px;
}
.results-count {
    font-size: 14px;
    line-height: normal;
    margin-bottom: 0;
    padding: 8px 0 9px;
}
.dln-map {
    display: block;
    width: 40%;
    height: 100%;
}
.leaflet-control-container {
    position: relative;
    top: 48px;
}

@media (max-width: 768px) {
    .page-content-wrapper {
        width: 100%;
    }
}