.header.navbar, .footer.navbar {
	z-index: 9999;
}
.aside-md {
	max-width: 200px;
}

@media (max-width: 480px) {
	.dln-poker-wrapper, .col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
		padding-left: 5px;
		padding-right: 5px;
	}
}

.dln-pokers {
	width: 100%;
	max-width: 150px;
}
.dln-poker-wrapper .col-xs-4 {
	text-align:center;
}
.dln-poker-wrapper img {
<<<<<<< HEAD
	border-radius: 10px;
	padding: 1px;
	box-shadow: inset 0 0 0 1px rgba(0,0,0,0.08);
}
/* .dln-poker-wrapper img {
	opacity: 0;
=======
	opacity: 1;
	-webkit-transition: -webkit-transform 3s;
         -moz-transition: -moz-transform 3s;
           -o-transition: -o-transform 3s;
              transition: transform 3s;
>>>>>>> origin/master
      -webkit-transform: translate(100px) rotate(20deg) scale(2);
         -moz-transform: translate(100px) rotate(20deg) scale(2);
           -o-transform: translate(100px) rotate(20deg) scale(2);
              transform: translate(100px) rotate(20deg) scale(2);
}

.dln-poker-wrapper img:hover {
	opacity: 1;
	  -webkit-transition: 500ms;
         -moz-transition: 500ms;
           -o-transition: 500ms;
              transition: 500ms;
      -webkit-transform: translate(0px) rotate(0deg) scale(1);
         -moz-transform: translate(0px) rotate(0deg) scale(1);
           -o-transform: translate(0px) rotate(0deg) scale(1);
              transform: translate(0px) rotate(0deg) scale(1);
} */
.dln-cards-wrapper {
	clear: both;
	position: relative;
	left: 50%;
	margin-left: -115px;
}
.dln-cards-wrapper ul{
	height: 250px;
}
ul.dln-cards li {
	border-radius: 10px;
	padding: 1px;
	box-shadow: inset 0 0 0 1px rgba(0,0,0,0.08);
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	max-width: 150px;
	list-style: none;
	position: absolute;
}
ul.dln-cards li img {
	display: block;
	margin: 0 auto;
	width: 100%;
}
