<header class="bg-white header header-md navbar navbar-fixed-top-xs box-shadow">
	<div class="navbar-header aside-md dk">
		<a class="btn btn-link visible-xs" data-toggle="class:nav-off-screen,open" data-target="#nav,html">
			<i class="fa fa-bars"></i>
		</a>
		<a href="index-2.html" class="navbar-brand">
			<img src="assets/images/logo.png" class="m-r-sm" alt="scale"> <span class="hidden-nav-xs">Scale</span>
		</a>
		<a class="btn btn-link visible-xs">
			<i class="fa fa-money"></i>
			<span class="badge badge-sm up bg-danger count" style="display: inline-block; font-size:10px;">1200</span>
		</a>
	</div>
</header>

<section id="main" class="hbox stretch">
	<aside id="nav" class="bg-light lt b-r b-light aside-md hidden-print hidden-xs nav-xs">
		<section class="vbox">
			<section class="w-f scrollable">
				<div class="slimScrollDiv" style="">
					<div data-railopacity="0.2" data-size="10px" data-distance="0" data-disable-fade-out="true"
					     data-height="auto" class="slim-scroll" style="overflow: hidden; width: auto; height: 0px;">
						<%
						if ( is_loggedin )
						{
						%>
						<div class="clearfix wrapper dk nav-user">
							<div class="dropdown">
								<a data-toggle="dropdown" class="dropdown-toggle" href="#">
									<span class="thumb avatar pull-left m-r">
										<img alt="..." class="dker" src="https://graph.facebook.com/<%= user.fb_uid %>/picture">
										<i class="on md b-light"></i>
									</span>
									<span class="hidden-nav-xs clear">
										<span class="block m-t-xs">
											<strong class="font-bold text-lt"><%= user.name %></strong>
											<b class="caret"></b>
										</span>
										<span class="text-muted text-xs block"><%= user.email %></span>
									</span>
								</a>
								<ul class="dropdown-menu animated fadeInRight m-t-xs">
									<li><span class="arrow top hidden-nav-xs"></span> <a href="#">Settings</a></li>
									<li><a href="#logout">Logout</a></li>
								</ul>
							</div>
						</div>
						<input type="hidden" id="dln_user_id" value="<%= user.ID %>" />
						<input type="hidden" id="dln_user_name" value="<%= user.name %>" />
						<input type="hidden" id="dln_user_fbuid" value="<%= user.fb_uid %>" />
						<input type="hidden" id="dln_user_email" value="<%= user.email %>" />
						<%
						}
						%>
						<!-- nav -->
						<nav class="nav-primary hidden-xs">
							<div class="text-muted text-sm hidden-nav-xs padder m-t-sm m-b-sm">Start</div>
							<ul data-ride="collapse" class="nav nav-main">
								<li>
									<a class="auto" href="index-2.html">
										<i class="i i-statistics icon"> </i>
										<span class="font-bold">Overview</span>
									</a>
								</li>
							</ul>

						</nav>
						<!-- / nav --> </div>
					<div class="slimScrollBar"
					     style="background: none repeat scroll 0% 0% rgb(0, 0, 0); width: 10px; position: absolute; top: 0px; opacity: 0.4; display: none; border-radius: 7px; z-index: 99; right: 0px; height: 618px;"></div>
					<div class="slimScrollRail"
					     style="width: 10px; height: 100%; position: absolute; top: 0px; display: none; border-radius: 7px; background: none repeat scroll 0% 0% rgb(51, 51, 51); opacity: 0.2; z-index: 90; right: 0px;"></div>
				</div>
			</section>
			<footer class="footer hidden-xs no-padder text-center-nav-xs"><a
					class="btn btn-icon icon-muted btn-inactive pull-right m-l-xs m-r-xs hidden-nav-xs"
					data-toggle="ajaxModal" href="modal.lockme.html"> <i class="i i-logout"></i> </a> <a
					class="btn btn-icon icon-muted btn-inactive m-l-xs m-r-xs" data-toggle="class:nav-xs" href="#nav">
				<i class="i i-circleleft text"></i> <i class="i i-circleright text-active"></i> </a></footer>
		</section>
	</aside>

	<section class="content">

	</section>
</section>