<div class="modal fade slide-up disable-scroll register" id="dln_modal_register" tabindex="-1" role="dialog" aria-hidden="false">
    <div class="modal-dialog modal-sm">
        <div class="modal-content-wrapper">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="pg-close fs-14"></i>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="social-buttons">
                        <a href="javascript:void(0);" class="btn btn-block btn-facebook dln-register-facebook">
                            <span class="pull-left"><i class="fa fa-facebook"></i></span>
                            <span class="bold">Đăng ký bằng Facebook</span>
                        </a>
                        <button id="dln_register_googleplus" type="button" class="btn btn-block">
                            <span class="pull-left"><i class="fa fa-google-plus"></i></span>
                            <span class="bold">Đăng ký bằng Google+</span>
                        </button>
                    </div>
                    <div class="text-center social-links">
                        Đăng ký bằng <a href="#" class="dln-register-facebook">Facebook</a> hoặc <a href="#">Google</a>
                    </div>
                    <div class="signup-or-separator">
                        <h6 class="shift text text-special">hoặc</h6>
                        <hr>
                    </div>
                    <div class="social-buttons register-block">
                        <button id="dln_register_email" type="button" class="btn btn-block btn-danger">
                            <span class="pull-left"><i class="fa fa-envelope-o"></i>
                            </span>
                            <span class="bold">Đăng ký bằng Email</span>
                        </button>
                    </div>
                    <form id="dln_form_register" class="register-block" role="form" data-request="onRegister" method="post">
                        <div class="form-group form-group-default">
                            <label>Tên</label>
                            <input type="text" name="name" class="form-control" minlength="2" required>
                        </div>
                        <div class="form-group  form-group-default required">
                            <label>Email</label>
                            <input type="email" name="email" class="form-control" placeholder="ví dụ: vidu@gmail.com" required>
                        </div>
                        <div class="form-group form-group-default required">
                            <label>Mật khẩu</label>
                            <input id="password" type="password" name="password" class="form-control" required minlength="6">
                        </div>
                        <div class="form-group form-group-default required">
                            <label>Xác nhận mật khẩu</label>
                            <input type="password" name="password_confirmation" class="form-control" required equalTo="#password" minlength="6">
                        </div>
                        <button id="dln_btn_register" type="submit" class="btn btn-block btn-danger">
                            <span class="pull-left"><i class="fs-14 sl-user-follow"></i>
                            </span>
                            <span class="bold">Đăng ký</span>
                        </button>
                    </form>
                    <form id="dln_form_login" class="login-block" role="form" method="post">
                        <div class="form-group  form-group-default required">
                            <label>Email</label>
                            <input type="email" name="email" class="form-control" placeholder="ví dụ: vidu@gmail.com" required>
                        </div>
                        <div class="form-group form-group-default required">
                            <label>Mật khẩu</label>
                            <input id="password" type="password" name="password" class="form-control" required minlength="6">
                        </div>
                        <button id="dln_btn_login" type="submit" class="btn btn-block btn-danger">
                            <span class="pull-left"><i class="fs-14 sl-user-follow"></i>
                            </span>
                            <span class="bold">Đăng nhập</span>
                        </button>
                    </form>
                    <hr />
                    <div class="register-bottom">
                        Bạn <span class="register-block">đã</span><span class="login-block">chưa</span> có tài khoản? <a href="#" id="toggle_login">Đăng nhập</a><a href="#" id="toggle_register" class="login-block">Đăng ký</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>