#dln_map_canvas {
    float: left;
    display: block;
}
#flocation {
    position: relative;
}
.location-wrapper {
    padding-left: 65px;
    position: relative;
}
.location-wrapper .btn:first-child {
    position: absolute;
    max-width: 60px;
    left: 10px;
}