.dln-toolbar a {
	transform: scale(1) !important;
}
.dln-modal-resize .modal-body {
	padding: 0px;
	overflow-y: auto;
	overflow-x: hidden;
}
.dln-wrapper {
	padding-left: 10px;
	padding-right: 10px;
}
.dln-photo-items {
	margin-bottom: 10px;
}
.dln-photo-items.active .overlay{
	opacity: 1;
}
.dln-photo-items.active .overlay .btn {
	transform: scale(1) !important;
}
.dln-items img {
	width: 100%;
}
.dln-items .media {
	min-height: 150px;
}

.dln-comment-block {
	position: relative;
}
.dln-comment-block div{
	width: 100%;
	padding-right: 55px;
}
.dln-comment-block div textarea {
	width: 100%;
}
.dln-submit-photo-btn {
	position: absolute;
	top: 10px;
	right: 10px;
}
