.dln-toolbar a {
	transform: scale(1) !important;
}
.dln-modal-resize .modal-body {
	padding: 0px;
	overflow-y: auto;
	overflow-x: hidden;
}
.dln-wrapper {
	padding-left: 10px;
	padding-right: 10px;
}