html body {
	font-size: 11px;
}
.dln-toolbar a {
	transform: scale(1) !important;
}
.dln-modal-resize .modal-body {
	padding: 0px;
	overflow-y: auto;
	overflow-x: hidden;
}
.dln-wrapper {
	padding-left: 10px;
	padding-right: 10px;
}
.dln-photo-items {
	margin-bottom: 10px;
}
.dln-photo-items.active .overlay{
	opacity: 1;
}
.dln-photo-items.active .overlay .btn {
	transform: scale(1) !important;
}
.dln-items img {
	width: 100%;
}
.dln-items .media {
	min-height: 100px;
}

.dln-comment-block {
	position: relative;
}
.dln-comment-block div{
	width: 100%;
	padding-right: 55px;
}
.dln-comment-block div textarea {
	width: 100%;
}
.dln-submit-photo-btn {
	position: absolute;
	top: 10px;
	right: 10px;
}
.dln-post {
	border-width: 1px;
}
.dln-post .list-table, .dln-post .panel-body {
	padding: 10px;
}
.dln-post .panel-toolbar-wrapper {
	border-bottom: 0px;
	border-top: 1px solid #cfd9db;
}
.panel-toolbar-wrapper {
	padding-left: 10px;
	paddinh-right: 10px;
}
.panel-toolbar-wrapper .panel-toolbar {
	height: 32px;
}
/* submit */
.dln-hidden-data {
	display:none;
}

.panel-body {
	padding: 10px;
}
hr {
	margin-top: 15px;
	margin-bottom: 15px;
}
.row {
    margin-left: -10px;
    margin-right: -10px;
}

#main > .container-fluid, #main > .container {
	padding: 10px;
}
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
	padding-left: 10px;
	padding-right: 10px;
}