title = "Ad"
url = "tin/:ad_id"
layout = "default"
hidden = "0"

[HeaderBar]

[AdEdit]
type = "edit2"
==
<?
function onStart()
{
    $this['ad_id'] = intval($this->param('ad_id'));
}
?>
==
<link rel="stylesheet" href="{{ [
    'assets/vendor/bootstrap-select2/select2.css',
    '~/plugins/dlnlab/classified/assets/css/select2-style.css',
    'assets/css/pages/dln-ad.css',
    'assets/css/common.css',
    ]|theme }}" />

{% if asset_css %}
<link rel="stylesheet" href="{{ asset_css|theme }}" />
{% endif %}
</head>
<body class="fixed-header dashboard ">
    <div class="page-container">
        
        {% component 'HeaderBar' %}
        
        {% component 'AdEdit' %}
        
    </div>
    
    <div class="container-fixed-lg footer">
        <div class="copyright sm-text-center">
            <p class="small no-margin pull-left sm-pull-reset">
                <span class="hint-text">Copyright &copy; 2014 </span>
                <span class="font-montserrat">REVOX</span>.
                <span class="hint-text">All rights reserved. </span>
                <span class="sm-block"><a class="m-l-10 m-r-10" href="#">Terms of use</a> | <a class="m-l-10" href="#">Privacy Policy</a></span>
            </p>
            <p class="small no-margin pull-right sm-pull-reset">
                <a href="#">Hand-crafted</a> <span class="hint-text">&amp; Made with Love &reg;</span>
            </p>
            <div class="clearfix"></div>
        </div>
    </div>
    
    <input type="hidden" id="ad_id" value="{{ ad_id }}" />
    
    <script src="{{ [
        'assets/vendor/jquery/jquery-1.8.3.min.js',
        'assets/vendor/boostrapv3/js/bootstrap.min.js',
        'assets/vendor/bootstrap-select2/select2.min.js',
        'assets/vendor/jquery-ui/jquery-ui.min.js',
        'assets/js/libs/notifications.js',
        'assets/js/pages/common.js',
    ]|theme }}"></script>
    
    <script src="{{ [
        'assets/vendor/jquery-validation/js/jquery.validate.min.js',
        'assets/vendor/inputmask/jquery.inputmask.bundle.min.js',
        'assets/vendor/jquery-fileupload/js/vendor/jquery.ui.widget.js',
        'assets/vendor/jquery-fileupload/js/jquery.fileupload.js',
        '~/plugins/dlnlab/classified/assets/js/ad-edit2.js'
    ]|theme }}"></script>
    
    {% if asset_script %}
    <script src="{{ asset_script|theme }}"></script>
    {% endif %}
</body>