html, body {
    font-family: "Open Sans",Helvetica,Arial,sans-serif;
    overflow: hidden;
    height: 100%;
    width: 100%;
}
a, a:hover {
    cursor: pointer;
    text-decoration: none;
    color: #333;
}
.form-group {
    margin-bottom: 0px;
    margin-right: 0px;
}
.body-site {
    background: none repeat scroll 0 0 #ffffff;
    height: calc(100% - 60px);
    overflow: hidden;
    position: relative;
    width: 100%;
}
.btn-gray {
    background-color: #eee;
    border: 1px solid #e5e5e5;
    color: #666;
    -webkit-transition: 0.8s linear -webkit-box-shadow;
    -moz-transition: 0.8s linear -moz-box-shadow;
    -ms-transition: 0.8s linear box-shadow;
    -o-transition: 0.8s linear box-shadow;
    transition: 0.8s linear box-shadow;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    -webkit-transition: 0.15s linear background;
    -moz-transition: 0.15s linear background;
    -ms-transition: 0.15s linear background;
    -o-transition: 0.15s linear background;
    transition: 0.15s linear background;
}
.text-p4 {
    font-size: 14px;
    font-weight: 600;
    line-height: 14px;
    color: #777;
}
.csstransforms3d .aside-collapsed .wrapper > section, .wrapper > section {
    margin: 0px;
}
.navbar .header-site {
    -moz-user-select: none;
    background: none repeat scroll 0 0 #ffffff;
    border-bottom: 1px solid #e5e5e5;
    height: 60px;
    position: relative;
    top: 0;
    width: 100%;
    z-index: 200;
}
.navbar .header-site .navbar-nav {
    margin-right: 0px;
}
.navbar .header-site, .search-header-container {
    padding-left: 10px;
    padding-right: 10px;
}
.search-header-container {
    background: none repeat scroll 0 0 rgba(255, 255, 255, 0.97);
    border-bottom: 1px solid #e5e5e5;
    height: 52px;
    z-index: 100;
    position: absolute;
    float: left;
    width: 100%;
}
.side-content-container {
    width: 320px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    float: left;
    pointer-events: auto;
    position: relative;
    z-index: 100;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.side-content-container .sc-header {
    border-right: 1px solid #e5e5e5;
    box-sizing: border-box;
    cursor: pointer;
    height: 52px;
    line-height: 52px;
}
.side-content-container .sc-header span {
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    color: #333;
}
.side-content-container .sc-header i {
    font-size: 24px;
    line-height: 52px;
    margin-right: 10px;
    color: #f35839;
    transition: all 0.15s ease-in-out 0s;
}
.side-content-container .sc-header i.rotate {
    transform: rotateX(180deg);
}
.side-content-container.open .side-content-body {
    display: block;
} 
.side-content-body {
    display: none;
    background: rgba(255,255,255,0.97);
    -webkit-border-radius: 0 0 4px 4px;
    -moz-border-radius: 0 0 4px 4px;
    border-radius: 0 0 4px 4px;
    border: 1px solid #e5e5e5;
    border-top: none;
    padding-bottom: 16px;
    -webkit-box-shadow: 0px 2px 6px 0px rgba(0,0,0,0.04);
    -moz-box-shadow: 0px 2px 6px 0px rgba(0,0,0,0.04);
    box-shadow: 0px 2px 6px 0px rgba(0,0,0,0.04);
}
.side-content-body .form-group {
    padding-left: 25px;
    padding-right: 25px;
}
.side-content-body .form-group .group-location{
    position: relative;
}
.side-content-body .form-group label {
    color: #777777;
    font-size: 14px;
    font-weight: 600;
    margin: 16px 0 8px;
    padding-top: 0px;
}
.side-content-body .btn-filter-location {
    cursor: pointer;
    display: block;
    font-size: 18px;
    line-height: 36px;
    opacity: 1;
    position: absolute;
    right: 0;
    top: 0;
    visibility: visible;
    width: 32px;
}
.side-content-body .btn-filter-location i {
    cursor: pointer;
    color: #ddd;
}
.side-content-body .btn-filter-location:hover i{
    color: #333;
}
.side-content-body .slider-horizontal {
    width: 100% !important;
}
.group-price, .group-area {
    padding-left: 10px;
    padding-right: 10px;
    color: #7e98ab;
    font-weight: 600;
}
#min_price, #min_area {
    margin-left: -10px;
}
/* .group-bedroom .btn-group, .group-type .btn-group {
    width: 100%;
}
.group-bedroom button, .group-type button {
    width: 25%;
    color: #bdbdbd;
    font-size: 14px;
    font-weight: 600;
} */
.group-type button {
    font-size: 11px;
    padding-left: 10px;
    padding-right: 10px;
}
.navbar .logo {
    cursor: pointer;
    display: block;
    float: left;
    height: 60px;
    position: relative;
    width: 68px;
}
.navbar .header-profile-img > a {
    padding-top: 15px;
    padding-bottom: 15px;
}
.navbar .header-profile-img > a > img {
    border-radius: 50%;
    height: 30px;
    margin: 0 6px 0 0;
    vertical-align: middle;
}
.navbar .btn-header-nav {
    border: none;
    background-color: transparent;
    color: #666666;
    left: 10px;
    height: 34px;
    line-height: 34px;
    position: absolute;
    top: 0;
    margin: 8px 0;
    padding: 0px;
    font-size: 14px;
    font-weight: 600;
    line-height: 30px;
}
.navbar .btn-header-nav > i {
    margin-right: 6px;
    font-size: 20px;
    position: relative;
    top: 2px;
    color: #ddd
}
.navbar .btn-header-action {
    background-color: #777;
    border-color: #777;
    color: white;
    height: 36px;
    line-height: 34px;
    position: absolute;
    top: 10px;
    right: 10px;
    text-align: center;
    text-decoration: none;
    transition: background 0.15s linear 0s;
    border-radius: 4px;
    border: none;
    font-size: 14px;
    font-weight: 600;
    display: none;
}
.navbar .header-menu-dropdown {
    background: none repeat scroll 0 0 #fafafa;
    left: 0;
    list-style: outside none none;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 52px;
    width: 100%;
}
.navbar .header-menu-dropdown li {
    border-bottom: 1px solid #e5e5e5;
    height: 40px;
    line-height: 40px;
    padding: 0 10px;
    font-size: 14px;
    font-weight: 600;
    color: #bdbdbd;
}
.navbar .header-menu-dropdown li a {
    color: #777;
    text-decoration: none;
}
.navbar .header-menu-dropdown li a:hover, .navbar .header-menu-dropdown li a:active {
    color: #333;
}
.btn-create-alert {
    margin: 7px 0 0 16px;
    font-weight: 600;
    font-size: 14px;
}
.btn-switch-list {
    margin-top: 8px;
}
.btn-switch-list button {
    color: #777777;
    font-size: 14px;
    font-weight: 600;
}
.btn-switch-list i {
    position: relative;
    right: 2px;
    top: 1px;
}
.map-wrapper {
    height: 100%;
    width: 100%;
    position: relative;
    padding: 0px;
}
#map-canvas {
    position: none !important;
    height: 100%;
}
.fl-scrollable-container {
    background: none repeat scroll 0 0 #fafafa;
    height: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
}
.sub-header-container {
    background: none repeat scroll 0 0 rgba(255, 255, 255, 0.97);
    border-bottom: 1px solid #e5e5e5;
    height: 52px;
    z-index: 100;
}
.sub-header-container > div {
    margin-right: 10px;
}
.sub-header-container > div > a > i {
    font-size: 18px;
    margin-left: 5px;
    margin-right: 5px;
    position: relative;
    padding-left: 20px;
}
.sub-header-container .btn-back i {
    padding-left: 0px;
    font-size: 30px;
    top: 4px;
}
.fl-navigation-container {
    line-height: 52px;
}
.property-container {
    position: relative;
}
.grid-container {
    box-sizing: border-box;
    margin: 0 auto;
    max-width: 1024px;
    padding-left: 10px;
    padding-right: 10px;
    position: relative;
    width: 100%;
}
.page-wrapper > div {
    padding-right: 0px;
    padding-left: 0px;
}
.dln-tab-infor {
    background: none repeat scroll 0 0 #ffffff;
    border: 1px solid #dcdcdc;
    border-radius: 4px;
    margin-top: 32px;
    overflow: hidden;
    width: 620px;
}
.dln-tab-infor .tab-content{
    background: none repeat scroll 0 0 #666666;
    border-bottom: 1px solid #dcdcdc;
    height: 400px;
    margin: 10px;
    overflow: hidden;
    position: relative;
    width: 600px;
}
.dln-tab-infor .nav-tabs > li {
    background: none repeat scroll 0 0 #f8f8f8;
    border-top: 1px solid #e5e5e5;
    box-sizing: border-box;
    color: #666666;
    cursor: pointer;
    float: left;
    font-size: 14px;
    font-weight: 600;
    height: 42px;
    text-align: center;
    transition: all 0.15s ease-in-out 0s;
    width: 33%;
}
.dln-tab-infor .nav-tabs > li > a {
    border: none;
    color: #777;
}
.dln-tab-infor .nav-tabs > li > a:hover, .dln-tab-infor .nav-tabs > li.active > a {
    color: #333;
}
.dln-tab-infor .nav-tabs > li.active {
    background: none repeat scroll 0 0 #ffffff;
    border-top: 1px solid #ffffff;
    color: #333333;
}
.dln-tab-infor .nav-tabs > li.center {
    border-left: 1px solid #e5e5e5;
    border-right: 1px solid #e5e5e5;
    box-sizing: border-box;
    width: 34%;
}
.dln-info-box {
    background: none repeat scroll 0 0 #fff;
    border: 1px solid #e5e5e5;
    border-radius: 4px;
    margin-top: 32px;
    top: 20px;
    transform: translate3d(0px, 0px, 0px);
    width: 360px;
}
.action-info-container {
    padding: 16px 10px;
    border-bottom: 1px solid #e5e5e5;
}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    border: none;
}
.dln-photo-indicator {
    background: none repeat scroll 0 0 rgba(255, 255, 255, 0.95);
    border-radius: 4px;
    bottom: 10px;
    color: #777;
    font-size: 12px;
    font-weight: 600;
    padding: 4px 10px;
    position: absolute;
    right: 10px;
    z-index: 10;
}
.dln-property-price {
    font-size: 32px;
    font-weight: 400;
    line-height: 32px;
}
.dln-property-location {
    margin-top: 10px;
    color: #929292;
    font-size: 15px;
    line-height: 20px;
}
.dln-property-location-title {
    font-size: 15px;
    font-weight: 400;
    line-height: 20px;
    margin: 0;
}
.dln-property-updated {
    margin-top: 10px;
    font-size: 14px;
    font-weight: 600;
    line-height: 14px;
}
.vital-info-container {
    border-top: 1px solid #e5e5e5;
    margin-top: 16px;
    padding-bottom: 4px;
    padding-top: 20px;
}
.bedroom-info, .bathroom-info, .sqft-info {
    color: #777;
    font-size: 14px;
    font-weight: 600;
    line-height: 14px;
}
.bedroom-info, .bathroom-info {
    margin-right: 24px;
}
.primary-action-container {
    padding-top: 16px;
    padding-bottom: 16px;
}
.primary-action-container .btn-group, .secondary-action-container, .secondary-action-container button {
    width: 100%;
}
.primary-action-container .btn-group button{
    width: 50%;
    font-size: 14px;
    font-weight: 600;
    height: 40px;
    -webkit-transition: 0.8s linear -webkit-box-shadow;
    -moz-transition: 0.8s linear -moz-box-shadow;
    -ms-transition: 0.8s linear box-shadow;
    -o-transition: 0.8s linear box-shadow;
    transition: 0.8s linear box-shadow;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    -webkit-transition: 0.15s linear background;
    -moz-transition: 0.15s linear background;
    -ms-transition: 0.15s linear background;
    -o-transition: 0.15s linear background;
    transition: 0.15s linear background;
}
.primary-action-container .btn-group button:hover {
    background-color: #dd4e26;
}
.btn-show-number {
    border-right: 1px solid #fff;
    margin-right: 1px;
}
.btn-show-number:hover {
    border-right: 1px solid #fff;
}
.primary-action-container, .secondary-action-container {
    padding-left: 10px;
    padding-right: 10px;
}
.secondary-action-container {
    padding-bottom: 16px;
}
.secondary-action-container button {
    font-size: 14px;
    font-weight: 600;
}
.property-content {
    width: 60%;
    padding-left: 10px !important;
    padding-right: 10px !important;
}
.dln-box-wrapper, .property-desc {
    width: 100%;
}
.main-section-heading {
    margin: 48px 0 8px;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: normal;
    line-height: 32px;
    text-transform: none;
}
.property-amenities span {
    margin-top: 8px;
    font-size: 16px;
    font-weight: 400;
    color: #777;
}
.dot-green {
    background-color: #96c93c;
}
.dot {
    border-radius: 100px;
    display: inline-block;
    height: 8px;
    margin-right: 5px;
    width: 8px;
}
.dln-info-box-mobile {
    display: none;
}
.dln-contact-fields {
    display: none;
    padding: 16px 10px;
    position: relative;
}
.dln-contact-fields input {
    font-weight: 600;
    font-size: 14px;
    height: 40px;
    padding-left: 30px;
}
.dln-contact-fields .contact-phone-inner, .dln-contact-fields a  {
    font-size: 20px;
    position: absolute;
    top: 20px;
}
.dln-contact-fields .contact-phone-inner {
    left: 20px;
}
.dln-contact-fields a {
    right: 20px;
}


/* custom inclusion of right, left and below tabs */
.tabs-below > .nav-tabs,
.tabs-right > .nav-tabs,
.tabs-left > .nav-tabs {
  border-bottom: 0;
}

.tab-content > .tab-pane,
.pill-content > .pill-pane {
  display: none;
}

.tab-content > .active,
.pill-content > .active {
  display: block;
}

.tabs-below > .nav-tabs {
  border-top: 1px solid #ddd;
}

.tabs-below > .nav-tabs > li {
  margin-top: -1px;
  margin-bottom: 0;
}

.tabs-below > .nav-tabs > li > a:hover,
.tabs-below > .nav-tabs > li > a:focus {
  border-top-color: #ddd;
  border-bottom-color: transparent;
}

.tabs-below > .nav-tabs > .active > a,
.tabs-below > .nav-tabs > .active > a:hover,
.tabs-below > .nav-tabs > .active > a:focus {
  border-color: transparent #fff #fff;
}

.tabs-left > .nav-tabs > li,
.tabs-right > .nav-tabs > li {
  float: none;
}

.tabs-left > .nav-tabs > li > a,
.tabs-right > .nav-tabs > li > a {
  min-width: 74px;
  margin-right: 0;
  margin-bottom: 3px;
}

.tabs-left > .nav-tabs {
  float: left;
  margin-right: 19px;
  border-right: 1px solid #ddd;
}

.tabs-left > .nav-tabs > li > a {
  margin-right: -1px;
  -webkit-border-radius: 4px 0 0 4px;
     -moz-border-radius: 4px 0 0 4px;
          border-radius: 4px 0 0 4px;
}

.tabs-left > .nav-tabs > li > a:hover,
.tabs-left > .nav-tabs > li > a:focus {
  border-color: #eeeeee #dddddd #eeeeee #eeeeee;
}

.tabs-left > .nav-tabs .active > a,
.tabs-left > .nav-tabs .active > a:hover,
.tabs-left > .nav-tabs .active > a:focus {
  border-color: #ddd transparent #ddd #ddd;
  *border-right-color: #ffffff;
}

.tabs-right > .nav-tabs {
  float: right;
  margin-left: 19px;
  border-left: 1px solid #ddd;
}

.tabs-right > .nav-tabs > li > a {
  margin-left: -1px;
  -webkit-border-radius: 0 4px 4px 0;
     -moz-border-radius: 0 4px 4px 0;
          border-radius: 0 4px 4px 0;
}

.tabs-right > .nav-tabs > li > a:hover,
.tabs-right > .nav-tabs > li > a:focus {
  border-color: #eeeeee #eeeeee #eeeeee #dddddd;
}

.tabs-right > .nav-tabs .active > a,
.tabs-right > .nav-tabs .active > a:hover,
.tabs-right > .nav-tabs .active > a:focus {
  border-color: #ddd #ddd #ddd transparent;
  *border-left-color: #ffffff;
}

@media (max-width: 1024px) {
    .grid-container {
        padding: 0px;
    }
    .page-wrapper > div, .page-wrapper .dln-tab-infor, .page-wrapper .dln-tab-infor .tab-content {
        width: 100%;
    }
    .page-wrapper .dln-tab-infor .tab-content {
        margin: 0px;
    }
    .dln-info-box {
        display: none;
    }
    .dln-info-box-mobile {
        display: block;
        width: 35%;
        background: #fff;
        border: 1px solid #e5e5e5;
        float: right;
        margin: 32px 0 0 0;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
        position: -webkit-sticky;
        position: -moz-sticky;
        position: -ms-sticky;
        position: -o-sticky;
        top: 32px;
        transform: translate3d(0,0,0);
    }
    .dln-box-wrapper{
        width: 60%;
    }
}

@media (max-width: 768px) {
    .side-content-container {
        width: 100%;
    }
    .sc-header {
        display: none;
    }
    .search-header-container {
        padding: 0px;
    }
    .navbar .logo {
        margin: 0 auto;
        float: none;
    }
    .navbar, .navbar .header-site, .navbar .logo {
        height: 52px;
        min-height: 52px;
    }
    .navbar .btn-header-action {
        display: block;
    }
}
@media (max-width: 720px) {
    .btn-switch-list {
        margin-right: 10px;
    }
    .dln-info-box-mobile {
        transform: none!important;
        -webkit-transform: none!important;
        margin: 0;
        border: none;
    }
    .dln-info-box-mobile, .primary-action-container {
        float: left;
        width: 100%;
    }
    .primary-action-container {
        position: fixed;
        top: 100%;
        margin-top: -90px;
    }
    .primary-action-container, .dln-contact-fields {
        border: medium none;
        border-radius: 0;
        bottom: -2px;
        height: 42px;
        left: 0;
        margin: 0;
        padding: 0;
        position: fixed;
        top: auto;
        z-index: 1000;
    }
    .primary-action-container button {
        border-radius: 0px;
    }
    .dln-contact-fields {
        line-height: 40px;
        overflow: hidden;
        width: 100%;
        
    }
    .dln-contact-fields input {
        border-radius: 0px;
        background-color: #fff !important;
    }
    .dln-contact-fields .contact-phone-inner, .dln-contact-fields a {
        top: 0px !important;
    }
    .contact-phone-inner {
        left: 10px !important;
    }
    .dln-contact-fields a {
        right: 10px !important;
    }
    .secondary-action-container {
        background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
        border: medium none;
        position: absolute;
        right: 15px;
        margin-top: 15px;
        width: 36px;
        padding: 0px;
    }
    .dln-box-wrapper, .property-desc {
        width: 100%;
    }
    .csstransforms3d .wrapper > section {
        transform: none !important;
        -webkit-transform: none !important;
    }
}
@media (max-width: 480px) {
    .btn-create-alert {
        display: none;
    }
}