.input-mini {
  width: 60px;
}

.input-small {
  width: 90px;
}

.input-medium {
  width: 150px;
}

.input-large {
  width: 210px;
}

.input-xlarge {
  width: 270px;
}

.input-xxlarge {
  width: 530px;
}
.column-dln_like_count_column, .column-dln_share_count_column, .column-dln_total_count_column, .column-dln_publish_date_column {
	width: 6%;
}