<div autocomplete="off" role="form" class="form-horizontal">
    <div class="form-group clearfix">
        <label class="col-sm-3 control-label">Hình ảnh</label>
        <div class="col-sm-9">
            <div class="padding-15 dln-file-wrapper">
                <button class="btn btn-danger btn-cons">Đăng ảnh</button>
            </div>
            <div class="dln-photos-wrapper row">
            </div>
        </div>
    </div>
</div>
<style type="text/css">


.dln-file-wrapper {
    background-color: #edefed;
    border: 1px solid #dce0e0;
}
.dln-photos-wrapper {
    padding: 7px;
    margin: 7px;
    border-radius: 5px;
    border: 1px dashed #ccc;
}
.dln-photos-wrapper div[class^="col-xs"]{
    padding: 7px;
}
</style>