<header id="header" class="navbar navbar-fixed-top">
	<!-- START navbar header -->
	<div class="navbar-header">
		<!-- Brand -->
		<a class="navbar-brand" href="javascript:void(0);">
			<span class="template-logo"></span>
		</a>
		<!--/ Brand -->
	</div>
	<!--/ END navbar header -->

	<!-- START Toolbar -->
	<div class="navbar-toolbar clearfix">
		<!-- START Left nav -->
		<ul class="nav navbar-nav navbar-left">
			<!-- Offcanvas left: This menu will take position at the top of template header (mobile only). Make sure that only #header have the `position: relative`, or it may cause unwanted behavior -->
			<li class="navbar-main hidden-lg hidden-md">
				<a href="javascript:void(0);" data-toggle="offcanvas" data-direction="ltr" rel="tooltip" title="Menu sidebar">
					 <span class="meta">
						  <span class="icon"><i class="ico-paragraph-left3"></i></span>
					 </span>
				</a>
			</li>
			<!--/ Offcanvas left -->

			<!-- Message dropdown -->
			<li class="dropdown custom">
				<a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">
					 <span class="meta">
						  <span class="icon"><i class="ico-bubbles2"></i></span>
					 </span>
				</a>
				<!-- Dropdown menu -->
				<div class="dropdown-menu" role="menu">
					<div class="dropdown-header">
						<span class="title">Messages</span>
						<span class="option text-right"><a href="javascript:void(0);">New message</a></span>
					</div>
					<div class="dropdown-body slimscroll">
						<!-- Search form -->
						<form class="form-horizontal" action="#">
							<div class="has-icon">
								<input type="text" class="form-control" placeholder="Search message...">
								<i class="ico-search form-control-icon"></i>
							</div>
						</form>
						<!--/ Search form -->

						<!-- Message list -->
						<div class="media-list">
							<a href="page-message-rich.html" class="media border-dotted">
					  <span class="pull-left">
							<img src="image/avatar/avatar6.jpg" class="media-object img-circle" alt="">
					  </span>
					  <span class="media-body">
							<span class="media-heading">Arthur Abbott</span>
							<span class="media-text ellipsis nm">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod.</span>
							<!-- meta icon -->
							<span class="media-meta"><i class="ico-star6"></i></span>
							<span class="media-meta"><i class="ico-attachment"></i></span>
							<span class="media-meta pull-right">2m</span>
							<!--/ meta icon -->
					  </span>
							</a>

							<a href="page-message-rich.html" class="media border-dotted read">
					  <span class="pull-left">
							<img src="image/avatar/avatar1.jpg" class="media-object img-circle" alt="">
					  </span>
					  <span class="media-body">
							<span class="media-heading">Martina Poole</span>
							<span class="media-text ellipsis nm">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod.</span>
							<!-- meta icon -->
							<span class="media-meta"><i class="ico-reply"></i></span>
							<span class="media-meta"><i class="ico-attachment"></i></span>
							<span class="media-meta pull-right">20m</span>
							<!--/ meta icon -->
					  </span>
							</a>

							<a href="page-message-rich.html" class="media border-dotted">
					  <span class="pull-left">
							<img src="image/avatar/avatar2.jpg" class="media-object img-circle" alt="">
					  </span>
					  <span class="media-body">
							<span class="media-heading">Elvis Christensen</span>
							<span class="media-text ellipsis nm">Duis aute irure dolor in reprehenderit in voluptate velit esse.</span>
							<!-- meta icon -->
							<span class="media-meta"><i class="ico-attachment"></i></span>
							<span class="media-meta pull-right">5h</span>
							<!--/ meta icon -->
					  </span>
							</a>

							<a href="page-message-rich.html" class="media border-dotted read">
					  <span class="pull-left">
							<img src="image/avatar/avatar3.jpg" class="media-object img-circle" alt="">
					  </span>
					  <span class="media-body">
							<span class="media-heading">Walter Foster</span>
							<span class="media-text ellipsis nm">Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</span>
							<!-- meta icon -->
							<span class="media-meta"><i class="ico-attachment"></i></span>
							<span class="media-meta pull-right">21h</span>
							<!--/ meta icon -->
					  </span>
							</a>

							<a href="page-message-rich.html" class="media border-dotted read">
					  <span class="pull-left">
							<img src="image/avatar/avatar4.jpg" class="media-object img-circle" alt="">
					  </span>
					  <span class="media-body">
							<span class="media-heading">Callum Santosr</span>
							<span class="media-text ellipsis nm">Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</span>
							<!-- meta icon -->
							<span class="media-meta pull-right">1d</span>
							<!--/ meta icon -->
					  </span>
							</a>

							<a href="page-message-rich.html" class="media border-dotted read">
					  <span class="pull-left">
							<img src="image/avatar/avatar5.jpg" class="media-object img-circle" alt="">
					  </span>
					  <span class="media-body">
							<span class="media-heading">Noelani Blevins</span>
							<span class="media-text ellipsis nm">Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis.</span>
							<!-- meta icon -->
							<span class="media-meta pull-right">2d</span>
							<!--/ meta icon -->
					  </span>
							</a>

							<a href="page-message-rich.html" class="media border-dotted read">
					  <span class="pull-left">
							<img src="image/avatar/avatar8.jpg" class="media-object img-circle" alt="">
					  </span>
					  <span class="media-body">
							<span class="media-heading">Carl Johnson</span>
							<span class="media-text ellipsis nm">Curabitur consequat, lectus sit amet luctus vulputate, nisi sem</span>
							<!-- meta icon -->
							<span class="media-meta"><i class="ico-attachment"></i></span>
							<span class="media-meta pull-right">2w</span>
							<!--/ meta icon -->
					  </span>
							</a>

							<a href="page-message-rich.html" class="media border-dotted read">
					  <span class="pull-left">
							<img src="image/avatar/avatar9.jpg" class="media-object img-circle" alt="">
					  </span>
					  <span class="media-body">
							<span class="media-heading">Tamara Moon</span>
							<span class="media-text ellipsis nm">Aliquam ultrices iaculis odio. Nam interdum enim non nisi. Aenean eget metus.</span>
							<!-- meta icon -->
							<span class="media-meta"><i class="ico-attachment"></i></span>
							<span class="media-meta pull-right">2w</span>
							<!--/ meta icon -->
					  </span>
							</a>
						</div>
						<!--/ Message list -->
					</div>
				</div>
				<!--/ Dropdown menu -->
			</li>
			<!--/ Message dropdown -->

			<!-- Notification dropdown -->
			<li class="dropdown custom">
				<a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">
												 <span class="meta">
													  <span class="icon"><i class="ico-bell"></i></span>
													  <span class="hasnotification hasnotification-danger"></span>
												 </span>
				</a>
				<!-- Dropdown menu -->
				<div class="dropdown-menu" role="menu">
					<div class="dropdown-header">
						<span class="title">Notification (5)</span>
						<span class="option text-right"><a href="javascript:void(0);">Clear all</a></span>
					</div>
					<div class="dropdown-body slimscroll">
						<!-- Message list -->
						<div class="media-list">
							<a href="javascript:void(0);" class="media border-dotted">
					  <span class="media-object pull-left">
							<i class="ico-instagram2 bgcolor-teal"></i>
					  </span>
					  <span class="media-body">
							<span class="media-text">Lorem ipsum <span class="text-primary semibold">dolor sit</span> amet, consectetur adipisicing elit.</span>
							<!-- meta icon -->
							<span class="media-meta pull-right">2m</span>
							<!--/ meta icon -->
					  </span>
							</a>

							<a href="javascript:void(0);" class="media border-dotted">
					  <span class="media-object pull-left">
							<i class="ico-queen"></i>
					  </span>
					  <span class="media-body">
							<span class="media-text">Ut <span class="text-primary semibold">enim</span> ad minim veniam, aliquip ex ea commodo.</span>
							<!-- meta icon -->
							<span class="media-meta pull-right">10m</span>
							<!--/ meta icon -->
					  </span>
							</a>

							<a href="javascript:void(0);" class="media read border-dotted">
					  <span class="media-object pull-left">
							<i class="ico-file-check bgcolor-success"></i>
					  </span>
					  <span class="media-body">
							<span class="media-text">Excepteur sint <span class="text-primary semibold">occaecat cupidatat</span> non laborum.</span>
							<!-- meta icon -->
							<span class="media-meta pull-right">1d</span>
							<!--/ meta icon -->
					  </span>
							</a>

							<a href="javascript:void(0);" class="media read border-dotted">
					  <span class="media-object pull-left">
							<i class="ico-basket2 bgcolor-info"></i>
					  </span>
					  <span class="media-body">
							<span class="media-text">Duis aute irure dolor in <span class="text-primary semibold">reprehenderit</span> in voluptate.</span>
							<!-- meta icon -->
							<span class="media-meta pull-right">2d</span>
							<!--/ meta icon -->
					  </span>
							</a>

							<a href="javascript:void(0);" class="media read border-dotted">
					  <span class="media-object pull-left">
							<i class="ico-call-incoming"></i>
					  </span>
					  <span class="media-body">
							<span class="media-text">Aliquip ex ea commodo consequat.</span>
							<!-- meta icon -->
							<span class="media-meta pull-right">1w</span>
							<!--/ meta icon -->
					  </span>
							</a>

							<a href="javascript:void(0);" class="media read border-dotted">
					  <span class="media-object pull-left">
							<i class="ico-alarm2"></i>
					  </span>
					  <span class="media-body">
							<span class="media-text">Excepteur sint <span
									class="text-primary semibold">occaecat</span> cupidatat non.</span>
							<!-- meta icon -->
							<span class="media-meta pull-right">12w</span>
							<!--/ meta icon -->
					  </span>
							</a>

							<a href="javascript:void(0);" class="media read border-dotted">
					  <span class="media-object pull-left">
							<i class="ico-checkmark3 bgcolor-success"></i>
					  </span>
					  <span class="media-body">
							<span class="media-text">Lorem ipsum dolor sit amet, <span class="text-primary semibold">consectetur</span> adipisicing elit.</span>
							<!-- meta icon -->
							<span class="media-meta pull-right">14w</span>
							<!--/ meta icon -->
					  </span>
							</a>
						</div>
						<!--/ Message list -->
					</div>
				</div>
				<!--/ Dropdown menu -->
			</li>
			<!--/ Notification dropdown -->

			<!-- Search form toggler  -->
			<li>
				<a href="javascript:void(0);" data-toggle="dropdown" data-target="#dropdown-form">
												 <span class="meta">
													  <span class="icon"><i class="ico-search"></i></span>
												 </span>
				</a>
			</li>
		<!--/ Search form toggler -->
		</ul>
		<!--/ END Left nav -->

	<!-- START navbar form -->
	<div class="navbar-form navbar-left dropdown" id="dropdown-form">
		<form action="#" role="search">
			<div class="has-icon">
				<input type="text" class="form-control" placeholder="Search application...">
				<i class="ico-search form-control-icon"></i>
			</div>
		</form>
	</div>
	<!-- START navbar form -->

	<!-- START Right nav -->
	<% if ( is_loggedin ) { %>
		<% console.log(user) %>
	<ul class="nav navbar-nav navbar-right">
		<!-- Profile dropdown -->
		<li class="dropdown profile navbar-main">
			<a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">
				 <span class="meta">
					  <span class="avatar"><img src="http://graph.facebook.com/<%= user.fb_uid %>/picture" class="img-circle"/></span>
					  <span class="text hidden-xs hidden-sm"><%= user.name %></span>
					  <span class="arrow"></span>
				 </span>
			</a>
			<ul class="dropdown-menu" role="menu">
				<li class="pa15">
					<h5 class="semibold hidden-md hidden-lg">
						<%= user.name %><br/>
						<small class="text-muted"><%= user.email %></small>
					</h5>
				</li>
				<li class="divider"></li>
				<li><a href="javascript:void(0);"><span class="icon"><i class="ico-user-plus2"></i></span> My Accounts</a></li>
				<li><a href="javascript:void(0);"><span class="icon"><i class="ico-cog4"></i></span> Profile Setting</a></li>
				<li><a href="javascript:void(0);"><span class="icon"><i class="ico-question"></i></span> Help</a></li>
				<li class="divider"></li>
				<li><a id="dln_logout" href="javascript:void(0);"><span class="icon"><i class="ico-exit"></i></span> Sign Out</a></li>
			</ul>
		</li>
		<!--/ Profile dropdown -->
	</ul>
	<% } %>
	<!--/ END Right nav -->
	</div>
<!--/ END Toolbar / link -->
</header>

<aside class="sidebar sidebar-left sidebar-menu">
	<!-- START Sidebar Content -->
	<div class="viewport" style="position: relative; overflow: hidden; width: auto;">
		<section class="content slimscroll" style="overflow: hidden; width: auto;">
			<!-- START Template Navigation/Menu -->
			<ul class="topmenu" id="nav">
				<li class="menuheader">MAIN MENU</li>
				<li class="active">
					<a href="#/login">
						<span class="figure"><i class="ico-home2"></i></span>
						<span class="text">Login</span>
						<span class="number"><span class="label label-danger">5</span></span>
					</a>
				</li>
				<li class="open">
					<a data-parent="#nav" data-target="#components" data-toggle="submenu" href="javascript:void(0);">
						<span class="figure"><i class="ico-screwdriver"></i></span>
						<span class="text">Components</span>
						<span class="arrow"></span>
					</a>
					<!-- START 2nd Level Menu -->
					<ul class="submenu collapse" id="components" style="height: 0px;">
						<li>
							<a href="component-animation.html">
								<span class="text">Animation</span>
							</a>
						</li>
						<li>
							<a href="component-typography.html">
								<span class="text">Typography</span>
							</a>
						</li>
					</ul>
					<!--/ END 2nd Level Menu -->
				</li>
				<li class="menuheader">OTHERS</li>
			</ul>
			<!--/ END Template Navigation/Menu -->
		</section>
		<div class="scrollbar"
			  style="background: none repeat scroll 0% 0% rgb(0, 0, 0); width: 6px; position: absolute; top: 0px; opacity: 0.4; border-radius: 7px; z-index: 99; right: 0px; height: 855px; display: none;"></div>
		<div class="scrollrail"
			  style="width: 6px; height: 100%; position: absolute; top: 0px; display: block; border-radius: 7px; background: none repeat scroll 0% 0% rgb(51, 51, 51); opacity: 0.2; z-index: 90; right: 0px;"></div>
	</div>
	<!--/ END Sidebar Container -->
</aside>

<section id="main" role="main">
	<section class="container">
	</section>
</section>