body {
    background: url("../img/bgnoise.gif") repeat scroll 0 0 transparent;
    color: #444444;
    font-family: Roboto,arial,sans-serif;
    font-size: 13px;
    line-height: 20px;
    margin: 0;
}

/* Nav Bar */
.dropdown-menu {
	border-radius: 3px 3px 3px 3px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.dln-icon {
	color: #33B5E5;
	display: block;
	font-size: 24px;
	text-transform: lowercase;
	list-style-type: none;
	text-shadow: 0 1px 0 rgba(0, 0, 0, .3);
}

.navbar .nav>li>a {
	color: #ffffff;
}

.dropdown-profile, .dropdown-globe {
	padding: 9px 0;
}

.navbar .nav>li>a.dropdown-toggle.dropdown-globe {
	width: 40px;
	line-height: 24px;
	color: #000000;
	font-size: 26px;
	padding: 0 0 0 1px;
	border: 0px;
	position: relative;
	margin: 0px;
}
.navbar .nav>li>a.dropdown-toggle.dropdown-globe .icon-globe {
	opacity: 0.55;
}

.navbar .nav>li>a.dropdown-toggle.dropdown-globe .icon-globe:hover, .navbar .nav>li>a.dropdown-toggle.dropdown-globe .icon-globe:focus {
	opacity: 0.75;
}

.navbar .nav>li>a.dropdown-toggle.dropdown-globe .label {
	position: absolute;
	right: 9px;
	top: 0px;
}

.navbar .nav>li>a.dropdown-toggle.btn-profile {
	width: 27px;
	line-height: 24px;
	margin: 0 6px;
	height: 27px;
	min-height: 27px;
	padding: 0;
	*margin-left: .3em;
	font-size: 13px;
	font-weight: bold;
	color: #444444;
	text-align: center;
	text-shadow: none;
	vertical-align: middle;
	cursor: pointer;
	background-color: #f9f9f9;
	*background-color: #f1f1f1;
	background-image: -moz-linear-gradient(top, #ffffff, #f1f1f1);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff),
		to(#f1f1f1));
	background-image: -webkit-linear-gradient(top, #ffffff, #f1f1f1);
	background-image: -o-linear-gradient(top, #ffffff, #f1f1f1);
	background-image: linear-gradient(to bottom, #ffffff, #f1f1f1);
	background-repeat: repeat-x;
	border: 1px solid rgba(0, 0, 0, 0.1);
	*border: 0;
	border-color: #f1f1f1 #f1f1f1 #cbcbcb;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	border-color: rgba(0, 0, 0, 0.1);
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff',
		endColorstr='#fff1f1f1', GradientType=0);
	filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}

.navbar .nav>li>a.dropdown-toggle.btn-profile:hover,.navbar .nav>li>a.dropdown-toggle.btn-profile:focus,.navbar .nav>li>a.dropdown-toggle.btn-profile:active,.navbar .nav>li>a.dropdown-toggle.btn-profile.active,.navbar .nav>li>a.dropdown-toggle.btn-profile.disabled,.navbar .nav>li>a.dropdown-toggle.btn-profile[disabled]
	{
	color: #444444;
	background-color: #f1f1f1;
	*background-color: #e4e4e4;
}

.navbar .nav>li>a.dropdown-toggle.btn-profile:active,.navbar .nav>li>a.dropdown-toggle.btn-profile.active
	{
	background-color: #d8d8d8 \9;
}

.navbar .nav>li>a.dropdown-toggle.btn-profile:first-child {
	*margin-left: 0;
}

.dropdown-menu.dropdown-profiles {
	width: auto;
	min-width: 320px;
}

.dropdown-menu.dropdown-profiles>ul {
	overflow-y: auto;
}

.dropdown-menu.dropdown-profiles>li {
	padding: 15px;
	background-color: #F0F0F0;
	border-top: 1px solid #d0d0d0;
}

.dropdown-menu.dropdown-profiles>li.header {
	padding: 5px;
	text-align: right;
	background-color: #ffffff;
	border-top: 0;
}

.dropdown-menu.dropdown-profiles>li .title {
	display: block;
	height: 17px;
	margin: 0 0 12px 0;
	overflow: hidden;
	font-size: 13px;
	color: #737373;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.navbar .pull-right > li > .dropdown-menu.dropdown-notifications {
	right: 9px;
}

.media-heading {
    font-weight: 700;
}

.dropdown-menu.dropdown-notifications > li {
    border-top: 1px solid #D0D0D0;
    padding: 10px;
}

.dropdown-menu.dropdown-notifications > li:hover, .dropdown-menu.dropdown-notifications > li:focus {
    background-color: #FFFFFF;
}

.media img {
	background-color: #FFFFFF;
    border: 3px solid white;
    border-radius: 30px 30px 30px 30px;
    box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.3);
    float: left;
    position: relative;
    top: 2px;
    left: 2px;
}

.media .media-body, .media .media-heading, .media .media-heading .pull-right {
	font-size: 11px;
}

.media .media-heading {
    margin: 0 3px 5px;
}

.media .media-heading .pull-right {
	font-style: italic;
}

@media (max-width: 979px) {
	.navbar .btn-navbar {
		display: none;
	}
  
	.nav-collapse, .nav-collapse.collapse {
	    height: auto;
	    overflow: visible;
	}
	
	.nav-collapse .navbar-form, .nav-collapse .navbar-search {
	    border: none;
	    float: left;
	    margin: 0;
	    padding: 0;
	}
	
	.navbar-fixed-top, .navbar-fixed-bottom, .navbar-static-top {
    	margin-left: 0;
    	margin-right: 0;
	}
	
	.input-large, .input-xlarge, .input-xxlarge, input[class*="span"], select[class*="span"], textarea[class*="span"], .uneditable-input {
	    display: inline;
	    width: auto;
	}
	
	.card.hovercard {
		width: 228px;
	}
}

@media (max-width: 767px) {
	[class*="span"], .uneditable-input[class*="span"], .row-fluid [class*="span"] {
	    float: left;
	    margin-left: 0;
	    margin-right: 20px;
	    width: 300px;
	}
	
	.container, .navbar-static-top .container, .navbar-fixed-top .container, .navbar-fixed-bottom .container {
		width: 640px;
	}
}

@media (max-width: 617px) {
	[class*="span"], .uneditable-input[class*="span"], .row-fluid [class*="span"] {
	    width: 260px;
	}
	
	.container, .navbar-static-top .container, .navbar-fixed-top .container, .navbar-fixed-bottom .container {
	    width: 560px;
	}
}

@media (max-width: 497px) {	
	[class*="span"], .uneditable-input[class*="span"], .row-fluid [class*="span"] {
	    float: none;
	    margin-left: 0;
	    width: 100%;
	}
	
	.container, .navbar-static-top .container, .navbar-fixed-top .container, .navbar-fixed-bottom .container {
	    width: 440px;
	}
}

@media (max-width: 340px) {	
	.container, .navbar-static-top .container, .navbar-fixed-top .container, .navbar-fixed-bottom .container {
	    width: 280px;
	}
}

@media (max-width: 320px) {
	
	body {
		padding: 0px;
	}
	
	.container, .navbar-static-top .container, .navbar-fixed-top .container, .navbar-fixed-bottom .container {
	    width: 280px;
	}
}