.dln-selection-box-wrapper {
	padding: 10px;
	background-color: none repeat scroll 0 0 rgba(0, 0, 0, 0.06);
}
.dln-selection-box {
    background: linear-gradient(#fff, rgba(255, 255, 255, 0.75)) repeat scroll 0 0 white;
    border-radius: 10px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15), 0 1px 0 rgba(0, 0, 0, 0.17) inset;
    font-size: 0;
    overflow: hidden;
    position: relative;
    white-space: nowrap;
}
.dln-selection-box-bottom.separator:not(:empty) {
	border-top: 1px solid #e3e3e3;
}
.dln-selection-box-top .selection-box-item:after {
	top: 10px;
}
.dln-selection-box-item {
	position: relative;
}
.dln-selection-box-item:after {
	background: none repeat scroll 0 0 #e3e3e3;
    bottom: 0;
    left: 0;
    overflow: hidden;
    top: 0;
    width: 1px;
    content: " ";
	display: table;
	position: absolute;
	height: 100%;
}
.dln-text-left {
	text-align: left !important;
}
.selection-box-item-content {
	font-size: 50px;
    line-height: 60px;
    padding-top: 10px;
}
.selection-box-item-icon {
	font-size: 11px;
}
.dln-selection-box-item {
    height: 130px;
    text-align: center;
    width: 20%;
    float: left;
    padding-left: 10px;
    padding-right: 10px;
    border-bottom: 1px solid #e3e3e3;
}