<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="author" content="KeyDesign" />
    <meta name="description" content="AppSperia - App Landing Page" />
    <meta name="keywords" content="AppSperia , Landing page, Template, App, Mobile, Android, iOS" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="google-site-verification" content="c-Rj2MSMQP6Gl1nAFXBt3iKchyMFjmHPKSoKIrMsawk" />
    <!-- SITE TITLE -->
    <title>AppSperia - App Landing Page</title>

    <!-- FAVICON -->
    <link rel="icon" href="assets/images/favicon.ico">
    
    <!-- WEB FONTS -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:100,300,400,600,700' rel='stylesheet' type='text/css'>
   
    <!-- STYLESHEETS -->
    <link rel="stylesheet" href="{{ [
        'assets/css/style.css',
        'assets/fonts/flaticon.css',
        'assets/css/responsive.css'
    ]|theme }}">
    <!-- JQUERY -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
</head>

    {% page %}
</html>