.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.no-scroll {
  overflow: hidden;
}

.docs-menu-icon {
  background: none;
  border: none;
  margin-right: 16px;
  padding: 0;
}

.m-r-5 {
  margin-right: 5px;
}

.m-r-10 {
  margin-right: 10px;
}

.text-center {
  text-align: center;
}

.bordered {
  border: 1px solid rgba(0,0,0,.1);
}

.full-width {
  width: 100% !important;
  max-width: 100% !important;
}

.hide {
  display: none !important;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
}
