<!-- Top Navbar-->
<div class="navbar">
  <div class="navbar-inner">
    <div class="center sliding">Template7 Pages</div>
    <div class="right sliding"><a href="#" class="link icon-only open-panel"> <i class="icon icon-bars"></i></a></div>
  </div>
</div>
<!-- Pages, because we need fixed-through navbar and toolbar, it has additional appropriate classes-->
<div class="pages navbar-through toolbar-through">
  <!-- Index Page-->
  <div data-page="index" class="page">
    <div class="page-content">

    </div>
  </div>
</div>

