<div class="header">
    <div class="pull-right full-height visible-sm visible-xs">
        <div class="sm-action-bar">
            <a href="#" class="btn-link" data-toggle="quickview"
                data-toggle-element="#quickview"> <span
                class="icon-set menu-hambuger-plus"></span>
            </a>
        </div>
    </div>
    <div class="pull-left">
        <div class="header-inner">
            <div class="brand inline">
                <img src="{{ 'assets/img/logo.png'|theme }}" alt="logo" data-src="assets/img/logo.png" data-src-retina="assets/img/logo_2x.png" height="22">
            </div>
        </div>
    </div>
    <div class="pull-left menu-container">
        <div class="search-wrap">
            <div class="dln-search">
                <input type="text" class="form-control" placeholder="Tìm địa điểm...">
                <a class="dln-find-locate" href="javascript:void(0)"><i class="pg-map"></i></a>
            </div>
        </div>
    </div>
    
    {% if user %}
    <div class="pull-right">
        <div class="dropdown">
            <a href="javascript:void(0)" class="visible-lg visible-md dln-profile-header dropdown-toggle" data-toggle="dropdown">
                <div class="thumbnail-wrapper d32 circular inline m-t-5 m-r-10">
                    <img src="{{ avatar }}" alt="{{ user.name }}" data-src="{{ avatar }}" data-src-retina="{{ avatar }}" width="32" height="32">
                </div>
                <div class="pull-left font-heading">
                    <span class="text-master">{{ first_name }}</span>
                    <span class="text-master">{{ last_name }}</span>
                    <span class="caret"></span>
                </div>
            </a>
            <ul class="dropdown-menu" role="menu">
                <li><a href="#">Bảng điều khiển</a></li>
                <li><a href="#">Mời bạn bè <span class="badge badge-success m-l-5">Mới</span></a></a></li>
                <li><a href="#">Thông báo</li>
                <li><a href="#">Tài khoản</a></li>
                <li><a href="#">Thoát</a></li>
            </ul>
        </div>
    </div>
    {% endif %}
    
    <div class="pull-right">
        <div class="header-inner">
            <a class="p-r-10 m-r-10 p-l-10 m-l-10 b-grey b-l b-r hidden-sm hidden-xs" href="javascript:void(0)">Tin nhắn (1)</a>
        </div>
    </div>
    
    <div class="pull-right">
        <div class="header-inner">
            <button href="javascript:void(0)" class="btn btn-danger btn-xs btn-cons"><b>Đăng tin</b></button>
        </div>
    </div>
    
</div>