<div class="card facebook-card" ng-repeat="item in feeds" on-last-repeat="ngRepeatFinished">
	<div class="card-header">
		<div class="facebook-avatar">
			<img class="j-lazy" data-original="{{item.profile_src}}" width="34" height="34">
		</div>
		<div class="facebook-name">{{item.profile_name}}</div>
		<div class="facebook-date">{{item.created_at | amCalendar}} <i class="{{item.font_type}}"></i></div>
		<a href="javascript:void(0)" class="facebook-heart"><i class="fa fa-heart-o"></i></a>
	</div>
	<div class="card-content">
		<div class="card-content-inner">
			<p>{{item.message}}</p>
			<div class="card-thumbnail">
				<i ng-if="item.type == 'video'" class="fa-4 fa fa-play"></i>
				<img ng-src="{{item.photo}}" />
			</div>
			<p class="color-gray">
				<i class="fa fa-thumbs-o-up"></i> {{item.like_count|nFormater}} <span class="tab"></span>
				<i class="fa fa-comments"></i> {{item.comment_count|nFormater}} <span class="tab"></span>
				<i class="fa fa-share-alt"></i> {{item.share_count|nFormater}}
				<open-external url="item.link">OpenURL</open-external>
				<a href="javascript:void(0)" ng-click="window.open(item.link, '_system');" class="link pull-right external">Xem tin</a>
			</p>
		</div>
	</div>
</div>

<div class="content-block">
	<p><div ng-hide="loading" class="button button-fill color-green" ng-click="getFeeds()">Trang sau</div></p>
</div>